<%= form_for @team do |f| %>
<div class="row">
  <% if flash[:success] %>
    <div class="alert alert-success">
      <%= flash[:success] %>
    </div>
  <% end %>

  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <% if flash[:notice] %>
    <div class="alert alert-info">
      <%= flash[:notice] %>
    </div>
  <% end %>
</div>

<div class="control-group">
  <%= f.label :name, "Team Name" %>
  <%= f.text_field :name %>
</div>


<%= collection_check_boxes(:user, :user_ids, User.all, :id, :name) %>


<div class="form-actions">
  <%= f.submit :class => 'btn btn-primary' %>
</div>

<% end %>
