<div class="container">
  <div class="row">
    <h1><%= @team.name %></h1>
  </div>

  <div class="row">
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
    <% if flash[:alert] %>
      <%= flash[:alert] %>
    <% end %>
  </div>

  <div class="row">

    <div class="col-md-4">
      <h3>Team Members</h3>
        <div class="well">
          <% @team.users.each do |user| %>
            <%= render partial: "users/user", locals: {user: user} %>
            <% end %>
          </div>
      <h3>Invite New Members</h3>
        <div class="well">
          <% @users.each do |user| %>
            <% if !@team.users.include?(user) %>
              <div class="well">
                <%= user.name %>
                <%= button_to "Invite To Team", { controller: "user_team_requests", action: "create", user_id: user.id, team_id: @team.id }, method: :post %>
              </div>
            <% end %>
          <% end %>
        </div>
    </div>

    <div class="col-md-4">
      <h3>Chores</h3>

      <div class="well">
      <% @team.chores.each do |chore| %>
        <div class="well">
          <%= link_to chore.name, chore_path(chore) %> Points:<%= chore.value %>
          <% if !chore.accepted && !chore.completed %>
            <%= button_to "Accept Chore", { :controller => "tasks", :action => "create", :id => chore.id }, method: :post %>
          <% end %>
          <% if current_user.accepted_chore(chore) %>
            <%= button_to "Done", {:controller => "tasks", :action => "update", :id => chore.task_id}, method: :patch %>
          <% end %>
          <% if chore.completed %>
            COMPLETED
          <% end %>
          <% if chore.accepted %>
            ACCEPTED
          <% end %>
        </div>
      <% end %>

        <%= button_to "Create New Chore", { :controller => "chores", :action => "create", :chore => {:team_id => @team.id} }, method: :get %>

      </div>
    </div>

    <div class="col-md-4">
      <h3>Tasks Past Due</h3>
    </div>

  </div>
</div>
