<div class="container">
  <div class="row">
    <h1><%= @team.name %></h1>
  </div>

  <div class="row">

    <% if flash[:success] %>
      <div class="alert alert-success">
        <%= flash[:success] %>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <% if flash[:notice] %>
      <div class="alert alert-info">
        <%= flash[:notice] %>
      </div>
    <% end %>

  </div>

  <div class="row">

    <div class="col-md-4">
      <h3>Team Members</h3>
        <div class="well">
          <%= render @team.users %>
        </div>

      <% if current_user.teams.include?(@team) %>
        <h3>Invite New Members</h3>
        <%= render @users %>
      <% end %>
    </div>

    <div class="col-md-4">
      <h3>Chores</h3>
      
      <div class="well">
      <%= render @team.chores %>

      <% if current_user.teams.include?(@team) %>
        <h4>New Chore</h4>
        <%= form_for Chore.new  do |f| %>
          <%= f.hidden_field :team_id, :value => @team.id %>
          <div class="control-group">
            <%= f.label :name, "Chore Name" %>
            <%= f.text_field :name %>
          </div>

          <div class="control-group">
            <%= f.label :value, "Chore Value" %>
            <%= f.text_field :value%>
          </div>

          <div class="form-actions">
            <%= f.submit :class => 'btn btn-primary' %>
          </div>
          <% end %>
        <% end %>

      </div>

    </div>

  </div>
</div>

<script type="text/javascript">
  
</script>
