<div class="container">
  <div class="row">
    <h1><%= @team.name %></h1>
  </div>

  <div class="row">

    <% if flash[:success] %>
      <div class="alert alert-success">
        <%= flash[:success] %>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <% if flash[:notice] %>
      <div class="alert alert-info">
        <%= flash[:notice] %>
      </div>
    <% end %>

  </div>

  <div class="row">

    <div class="col-md-4">
      <h3>Team Members</h3>
        <div class="well">
          <%= render @team.users %>
        </div>

      <% if current_user.teams.include?(@team) %>
        <h3>Invite New Members</h3>
          <div class="well">
            <% @users.each do |user| %>
              <% if !@team.users.include?(user) %>
                <div class="well">
                  <%= user.name %>
                  <% if !user.has_user_team_reqiest?(@team) %>
                    <%= button_to "Invite To Team", { controller: "user_team_requests", action: "create", :request => {:user_id => user.id, :team_id => @team.id} }, method: :post, :class => "btn btn-primary"  %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>

    </div>

    <div class="col-md-4">
      <h3>Chores</h3>
      <div class="well">
        <%= render @team.chores %>
        <% if current_user.teams.include?(@team) %>
          <%= link_to "New Chore", new_team_chore_path(@team) %>
        <% end %>
      </div>
    </div>

  </div>
</div>
