<div class="container">
	<div class="row login_box">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name),:html => { :class => "form" }) do |f| %>
      <h2>Sign up</h2>

      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>

      <% if flash[:alert] %>
        <%= flash[:alert] %>
      <% end %>

        <div class="form_group">
          <%= f.label :email, :class => 'col-sm-2 control-label' %><br />
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>

        <div class="form_group">
          <%= f.label :password, :class => 'col-sm-2 control-label' %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>

        <div class="form_group">
          <%= f.label :password_confirmation, :class => 'col-sm-2 control-label' %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
        </div>
        <br>
        <div class="actions">
          <%= f.submit "Sign up", class: "btn btn-primary" %>
        </div>
        <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>
