<div class="container">
  <div class="row">
    <h1><%= current_user.name %></h1>
  </div>

  <div class="row">
    <% if flash[:success] %>
      <div class="alert alert-success">
        <%= flash[:success] %>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <% if flash[:notice] %>
      <div class="alert alert-info">
        <%= flash[:notice] %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3>Teams</h3>
      <div class="well">
        <% if !current_user.teams.empty? %>
          <%= render current_user.teams %>
        <% end %>
        <% if !current_user.user_team_requests.empty? %>
          <% current_user.user_team_requests.each do |request| %>
            <% if request.status != "Accepted" %>
              <%= request.team.name %>
              <%= button_to "Accept", {:controller => "user_team_requests", :action => "update", :id => request.id}, method: :patch, :class => "btn btn-primary"  %>
            <% end %>
          <% end %>
        <% end %>

        <%= link_to "Create New Team", new_team_path%>
        <%= link_to "List Teams", teams_path %>
      </div>
        <%= link_to "Edit Account", edit_user_registration_path %>
    </div>

    <div class="col-md-4">
      <h3>Tasks</h3>
      <div class="well">
        <% current_user.tasks.each do |task| %>
          <%= task.chore.name %>
          <%= button_to "Done", {:controller => "tasks", :action => "update", :id => task.id}, method: :patch, :class => "btn btn-primary"  %>
          <br>
        <% end %>
        <p>Point Total:<%= current_user.points %></p>
      </div>
    </div>

    <div class="col-md-4">
      <h3>Friends</h3>
      <div class="well">
        <% if !current_user.friendships.empty? %>
          <%= render current_user.friends %>
        <% end %>

        <h4>Pending Friend Requests</h4>
        <% current_user.friendship_requests_to_confirm.each do |request| %>
          <div class="well">
            <p><%= request.friend.name  %></p>
            <%= button_to "Accept", {:controller => "friendship_requests", :action => "update", :id => request.id}, method: :patch, :class => "btn btn-primary"  %>
          </div>
        <% end %>
      </div>
    </div>
</div>
