<div class="container">
  <div class="row">
    <h1><%= @user.name %></h1>
  </div>

  <div class="row">

    <div class="col-md-4 well">
      <h3>Team</h3>
      <% if !@user.teams.empty? %>
        <h2><%= @user.teams.first.name %></h2>
      <% end %>
      <%= link_to "Create New Team", new_team_path %>
      <%= link_to "List Teams", teams_path %>
    </div>

    <div class="col-md-4 well">
      <h3>Tasks</h3>
      <% @user.tasks.each do |task| %>
        <%= task.chore.name %>
        <%= button_to "Done", {:controller => "tasks", :action => "update", :id => task.id}, method: :patch %>
        <br>
      <% end %>
    </div>

    <div class="col-md-4 well">
      <h3>Friends</h3>

      <h3>Pending Friend Requests</h3>

      <h2>Team Invites</h2>
      
    </div>

</div>
