<div class="container">
  <div class="row">
    <h1><%= @user.name %></h1>
  </div>
  <div class="row">
    <div class="col-md-4 well">
      <h3>Team</h3>
      <h2><%= @user.teams.first.name %></h2>
    </div>
    <div class="col-md-4 well">
      <h3>Tasks</h3>
      <% @user.tasks.each do |task| %>
        <%= task.chore.name %>
        <%= button_to "Done", {:controller => "tasks", :action => "update", :id => task.id}, method: :patch %>
        <br>
      <% end %>
    </div>
    <div class="col-md-4 well">
      <h3>Friends</h3>
      <% @user.confirmed_friends.each do |friend| %>
        <div class="well">
          <%= friend.name %>
        </div>
      <% end %>
    </div>
  </div>
</div>
