<div class="container">
  <div class="row">
    <h1><%= @user.name %></h1>
  </div>

  <div class="row">

    <div class="col-md-4 well">
      <h3>Teams</h3>
      <% if !@user.teams.empty? %>
        <% @user.teams.each do |team| %>
          <h2><%= link_to team.name, teams_path(team) %></h2>
        <% end %>
      <% end %>

      <%= link_to "Create New Team", new_team_path%>
      <%= link_to "List Teams", teams_path %>
    </div>

    <div class="col-md-4 well">
      <h3>Tasks</h3>
      <% @user.tasks.each do |task| %>
        <%= task.chore.name %>
        <%= button_to "Done", {:controller => "tasks", :action => "update", :id => task.id}, method: :patch %>
        <br>
      <% end %>
    </div>

    <div class="col-md-4 well">
      <h3>Friends</h3>
      <% @user.confirmed_friends.each do |friend| %>
        <%= friend.name  %>
      <% end %>
      <h3>Pending Friend Requests</h3>
      <% @user.inverse_friendships.each do |friendship| %>
        <%= friendship.user.name %>
        <%= button_to "Accepted", {:controller => "friendships", :action => "update", :id => friendship.user_id}, method: :patch %>
      <% end %>
      <h3>Team Invites</h3>
    </div>

</div>
