<div class="container">
	<div class="row login_box">
	  <%= form_for(resource, as: resource_name, url: session_path(resource_name),:html => { :class => "form" }) do |f| %>
      <h2>Log in</h2>

			<div class="row">
		    <% if flash[:success] %>
		      <div class="alert alert-success">
		        <%= flash[:success] %>
		      </div>
		    <% end %>

		    <% if flash[:alert] %>
		      <div class="alert alert-danger">
		        <%= flash[:alert] %>
		      </div>
		    <% end %>

		    <% if flash[:notice] %>
		      <div class="alert alert-info">
		        <%= flash[:notice] %>
		      </div>
		    <% end %>
		  </div>

      <div class="form_group">
        <%= f.label :email, :class => 'col-sm-2 control-label' %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>

      <div class="form_group">
        <%= f.label :password, :class => 'col-sm-2 control-label' %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>

      <br>

      <div class="action">
        <%= f.submit "Log In", :class => 'btn btn-primary' %>
    	</div>
			<%= render "devise/shared/links" %>
	  <% end %>

	</div>
</div>
