<div class="container">
	<div class="row login_box">
	  <%= form_for(resource, as: resource_name, url: session_path(resource_name),:html => { :class => "form" }) do |f| %>
      <h2>Log in</h2>

			<% if flash[:notice] %>
				<%= flash[:notice] %>
			<% end %>

			<% if flash[:alert] %>
				<%= flash[:alert] %>
			<% end %>

      <div class="form_group">
        <%= f.label :email, :class => 'col-sm-2 control-label' %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>

      <div class="form_group">
        <%= f.label :password, :class => 'col-sm-2 control-label' %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>

      <br>

      <div class="action">
        <%= f.submit "Log In", :class => 'btn btn-primary' %>
    	</div>
			<%= render "devise/shared/links" %>
	  <% end %>
	</div>
</div>
