<div class="container">

	<div class="row login_box">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name),:html => { :class => "form-horizontal" }) do |f| %>
        <div class="col-md-offset-5 col-md-3 login_control">

          <h2>Log in</h2>

            <div class="form_group">
              <%= f.label :email, :class => 'col-sm-2 control-label' %><br />
              <%= f.email_field :email, autofocus: true, class: 'form-control' %>
            </div>

            <div class="form_group">
              <%= f.label :password, :class => 'col-sm-2 control-label' %><br />
              <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="form_group">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me, class: 'label' %>
              </div>
            <% end %>

            <div class="action">
              <%= f.submit "Log In", :class => 'btn' %>
            </div>

          </div>
          <% end %>
    </div>

</div>
