<div class="well chore" id="<%=chore.id%>">
  <%= link_to chore.name, chore_path(chore) %> Points:<%= chore.value %>

  <% if !chore.accepted && !chore.completed && current_user.teams.include?(@team)%>
    <!-- to be replaced with form for with class of new_task -->
    <%= form_for chore.tasks.new do |f|  %>
      <%= f.hidden_field :chore_id, :value => chore.id.to_i %>
      <%= f.submit "Accept Chore", :id => "submit-accept" %>
    <% end %>
  <% end %>

  <% if current_user.accepted_chore(chore) %>
    <!-- to be replaced with form for with class of edit_task -->
    <%= form_for chore.tasks.first do |f|  %>
      <%= f.hidden_field :chore_id, :value => chore.id.to_i %>
      <%= f.submit "Done", :id => "submit-complete" %>
    <% end %>
  <% end %>

  <% if chore.completed %>
    <span class="label label-success">COMPLETED</span>
  <% end %>

  <% if chore.accepted %>
    <span class="label label-primary">ACCEPTED</span>
  <% end %>
</div>
