
<div class="row">
  <% if flash[:success] %>
    <div class="alert alert-success">
      <%= flash[:success] %>
    </div>
  <% end %>

  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <% if flash[:notice] %>
    <div class="alert alert-info">
      <%= flash[:notice] %>
    </div>
  <% end %>
</div>

<%= form_for @chore  do |f| %>
<%= f.hidden_field :team_id, :value => params[:team_id] %>
  <div class="control-group">
    <%= f.label :name, "Chore Name" %>
    <%= f.text_field :name %>
  </div>

  <div class="control-group">
    <%= f.label :value, "Chore Value" %>
    <%= f.text_field :value%>
  </div>

  <div class="form-actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
