<%= form_for @chore do |f| %>
  <div class="control-group">
    <%= f.label :name, "Chore Name" %>
    <%= f.text_field :name %>
  </div>

  <div class="control-group">
    <%= f.label :value, "Chore Value" %>
    <%= f.text_field :value%>
  </div>

  <div class="form-actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
